*{
    margin: 0 auto;
    font-family: 'Microsoft JhengHei';
    max-width: 1140px;
}

#header{
    text-align: center;
    margin-bottom: 10px;
}
.question {
    text-align: center;
    margin-bottom: 20px;
  }

  .question h2 {
    font-size: 20px;
    padding: 1px;
    margin-bottom: 10px;
    background-color: navajowhite;
    
  }

  .question p {
    line-height: 25px;
    font-size: 14px;
    text-align: left;
  }